html 
    head    
        title First Express Try Out 
    body 
        h1 Welcome to my web page
        ul 
            li
                a(href="/") Home 
            li 
                a(href="/page1") Page 1 
            li 
                a(href="/page2") Page 2